<div class="intro-header">

	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message-session">
					<h1 class="text-center">Smiles 4 Us</h1>
					<br>
					<br>
			

					<%= form_tag sessions_path do %>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><form class="form-horizontal" role="form">
						<div class="form-group">

							<div class="col-sm-10">
								<div class="field">
									
									<%= text_field_tag :email, params[:email], class: 'form-control',:placeholder => "Correo electronico" %>
								</div>
							</div>
						</div>
						<div class="form-group">

							<div class="col-sm-10">
								
									<input class="form-control" id="password" name="password" type="password" placeholder="Contraseña"/>
								<!--	<div >
									 <%= password_field_tag :password, class: 'form-control',:placeholder => "Contraseña" %>
								</div>  -->
							</div>
						</div>
						<div class="form-group">

							<div class="col-sm-10">
								<div class="field">
									<%= check_box_tag :remember_me, 1, params[:remember_me] %>
									<%= label_tag "Recuerdame" %>
								<!--	<h1>Olvido su contraseña?</h1>
 <%= render 'forgot_password_form' %> -->
								</div>
							</div>
						</div>
						<div class="form-group">

							<div class="col-sm-10">
								<div class="actions">
									<%= submit_tag "Inicia sesión", class: "btn btn-deafult btn-lg", id: "boton-sesion"%>
								</div>
							</div>
						</div>
						</form></div>
  <div class="col-md-4"></div>
</div>

					</br>
					</br>
					
					</br>
					</br></br>
					</br>
					
					</br>
					</br>
						
						<% end %>

						

				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
					<li>
						<a href="index.html">Inicio</a>
					</li>
					<li class="footer-menu-divider">
						⋅
					</li>
					<li>
						<a href="#about">Nosotros</a>
					</li>
					<li class="footer-menu-divider">
						⋅
					</li>

					<li>
						<a href="#contact">Contactos</a>
					</li>
				</ul>
				<p class="copyright text-muted small">
					Copyright © Smiles4Us
				</p>
			</div>
		</div>
	</div>
</footer>

<% content_for :header do %>
<div class="intro-header">

	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1 class="text-center" id="headerTitle">Smiles 4 Us</h1>
					</br>
					</br>
					<% end %>

					<% content_for :footer do %>
				</div>
			</div>
		</div>

	</div>

</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
					<li>
						<a href="index.html">Inicio</a>
					</li>
					<li class="footer-menu-divider">
						⋅
					</li>
					<li>
						<a href="#about">Nosotros</a>
					</li>
					<li class="footer-menu-divider">
						⋅
					</li>

					<li>
						<a href="#contact">Contactos</a>
					</li>
				</ul>
				<p class="copyright text-muted small">
					Copyright © Smiles4Us
				</p>
			</div>
		</div>
	</div>
</footer>



<% end %>
<!-- <%= yield :header %>

<%= form_tag sessions_path do %>
<div class="field" >

<%= text_field_tag :email, params[:email],  :placeholder => :email %>
</div>
<div class="field" >

<%= password_field_tag :password %>
</div>
<div class="field" id="headerTitle">
<%= check_box_tag :remember_me, 1, params[:remember_me] %>
<%= label_tag :remember_me ,  "Recuerdame" %>
</div>
<div class="actions" ><%= submit_tag "Iniciar sesion" , class: 'btn btn-info btn-sm'%></div>

<% end %>
<%= yield :footer %> -->

