<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for(@comentario) do |f| %>
  <% if @comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% @comentario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	
  <div class="field">
    <h1>Comentarios</h1>
    	<br />
    <%= f.text_area :texto , :rows => 4, :cols => 50 %>
    
    <p>
    	 <div class="actions" >
			<button type="button" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-heart-empty"></span> Me gusta
			</button>
			
			<button type="submit" class="btn btn-default btn-sm">

<span class="glyphicon glyphicon-comment"> </span> Comentar

</button>
</div>
    <!-- <%= f.submit "Comentar" , class: 'btn btn-default btn-sm' %> -->
 
  </div>
		</p>

 
<% end %>
