<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Red social de portafolio">
		<meta name="author" content="Gabriel Rodriguez, Justhine Tumbaco, Ronny Valdivieso, Rafael Mayor, Jose Cordova">
	<!--	<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet"> -->
		<title>Smiles4us</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'cufon-replace', 'data-turbolinks-track' => true %>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="bootstrap-responsive.css">
<link rel="stylesheet" href="prettyPhoto.css" />
<link rel="stylesheet" href="custom-styles.css">
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="bootstrap.js"></script>
<script src="jquery.prettyPhoto.js"></script>
<script src="jquery.custom.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });
    
    $('#myCarousel').carousel({
        interval: 4000
    });
    $('#myCarousel').carousel('cycle');
});

</script>
	
	</head>

	<body>
		
		<% content_for :navbar do %>
		
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
						<span class="sr-only">Desplegar Navegacion</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/posts">Smiles 4 Us <span class="glyphicon glyphicon-heart-empty"></span></a>

				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->

				<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">

					<ul class="nav navbar-nav">
						<li>
							<% if current_user %>
						
							<li>
								<a><a class="pull-left" href="#"> <img class="img-circle" src="/photo_store/artista.jpg" alt="foto de perfil" width="25" height="25">   <%= current_user.username %></a></a>
							</li>
							
							<li>
								<a><%= link_to 'Editar mi cuenta', edit_usuario_path(current_user) %></a>
							</li>
							
							<li>
								<a> <%= link_to "Cerrar sesión", logout_path %> </a>
							</li>
							<% else %>
	                         <li>
								<a> <%= link_to "Explorar", posts_path %> </a>
							</li>
							<li>
								<a> <%= link_to "Únete", signup_path %> </a>
							</li>
							<!-- <li><span class="glyphicon glyphicon-heart-empty"></span></li> -->
							<li>
								<a> <%= link_to "Iniciar sesión", login_path %> </a>
							</li>

							<li>
								<form class="navbar-form navbar-left" role="search">
							        <div class="form-group">
							          <input type="text" class="form-control" placeholder="Ingresa tu búsqueda">
							        </div>
	        						<button type="submit" class="btn btn-default">Buscar</button>
	      						</form>
							</li>
							<% end %>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<br>
		<br>
		<% end %>

		<%= yield :navbar %>

		<%= yield %>

	</body>
</html>
